body {
    font-size: 20px;
    background-color: #BDBDBD;
    color: #F8F8F8;
    font-family: 'Gaegu', cursive;
    line-height: 1.2; 
    font-size: 20px
    
}

a:link{
	color: grey;
    text-decoration: none;
}

a:visited{
	color: grey;
	text-decoration: none;
}

a:hover{
	color: #F8F8F8;
	text-decoration: none;
	background-color: #BDBDBD;
}

a:active{
	color: grey;
	text-decoration: none;
	background-color: #BDBDBD;
}