body {
    font-family: 'Gaegu', cursive;
    color: #F8F8F8;
    background-image: linear-gradient(to bottom,#848484 ,#BDBDBD); 
    line-height: 1.2; 
    text-align: center;
}

.first-line {
    font-size: 60px;
}

.second-line {
    font-size: 30px;
}
.center-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.flask{
    margin-left: center;
    margin-right: center;
}

a:link{
    color: rgb(65, 105, 225) 
}