body{
    font-family: 'Gaegu', cursive;
    background-color:#dedede;
    line-height: 1.2; 
    text-align: center;

}

.navbar-nav{
	background-color: #BDBDBD;
}

.title{
    color: grey;
    background-color: #dedede;
    width: 1200px;
	margin: 0 auto; 
}

.title_text{
    text-align: justify;
    font-size: 1.5em;
}

h3{
    text-align: center;
}


.card{
    margin: 0 auto;
    float: right; 
    color: #F8F8F8;
    background-color: #BDBDBD;   

}

.card-header{
    background-color: #979797;
}

.nav-item{
    background-color: #F8F8F8;
}
.card-title{
    text-align: center;
    font-size: 1.4em;
}
.card-text{
text-align: justify;
font-size:1.2em;
}

.btn-primary{
    align-content: center;
}